@charset "utf-8";

body{
  background-color: mediumaquamarine;
}

#logo li {
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
  list-style-type: none;
}

#logo img {
  width: 50px;
}

#gnav a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
}
#gnav a:after {
	clear: both;
}
#gnav div.img {
	display: table-cell;
	vertical-align: middle;
	background: url(../img/css_sprite.png) no-repeat;
	width: 55px;
	height: 46px;
}
#gnav div.text {
	display: table-cell;
	vertical-align: middle;
	padding:10px 5px;
}
div.img#home{background-position:0 0px;}
div.img#content1{background-position: 0 -46px;}
div.img#content2{background-position: 0 -92px;}
div.img#help{background-position: 0 148;}
div.img#faq{background-position: 0 -184px;}

.breadcrumbs li {
        display: inline;
        list-style-type: none;
}

.breadcrumbs li:before {
        content: " > ";
}

.breadcrumbs li:first-child:before {
        content:"";
}
